.title{
    text-align: center;
    color: rgb(16, 81, 26);
    font-size: 20px;
    
    text-transform: none;
    margin: 70px 0 30px;

}
.title h2 {
    font-size: 55px;
    font-weight: 700;
    color: rgb(20, 68, 33);
    margin-top: 5px;
    text-transform: none;
    
}