.courses{
    margin: 80px auto;
    width:90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course img {
    width:75%;
    border-radius: 10px;
    margin: auto;
    display: block;
}

.course{
    flex-basis: 31%;
    position: relative;
}

.caption{ 
    border-radius: 10px;
    width: 75%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 3, 0, 0.29);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: aliceblue;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s;
}
.caption p {
    font-size: larger;
}
.btn1{
    background: rgba(224, 228, 225, 0.4);
    color: aliceblue;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn1 img {
    width: 30px;
    padding: 2px;
    
  }

.course:hover .caption{
    opacity: 2;
    padding-top: 0;
}