.home{
    width: 100%;
    min-height: 100vh;
    margin: -30px 0px 0px 0px !important;
    padding: 0px 0px 0px 0px!important;
    background:linear-gradient(rgba(27, 30, 26, 0.4),rgba(27, 30, 26, 0.4)), url('../../assets/dylan-gillis-YJdCZba0TYE-unsplash.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    
    }
    .home-text{
        text-align: center;
        max-width: 800px;
    }
    .home-text h1{
        font-size: 60px;
        font-weight: 600;
    }
    .home-text p{
        max-width: 600px;
        margin: 10px auto 20px;
        line-height: 1.4;
    }