.about{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.about-left{

    flex-basis: 40%;
    position: relative;
}
.about-right{

    flex-basis: 56%;
}
.about-img{
    width: 100%;
    border-radius: 10px;
}

.about h1{
    justify-content: center;
    text-align: center;
    font-size: 55px;
    max-width: 400px;
    font-weight: 700;
    color: rgb(20, 68, 33);
    margin: auto;
    padding: 15px;
}
.about h3 {
    color: rgb(20, 68, 33);
    padding: 15px;
}
.about p{
    justify-content: center;
    text-align: center;
    color: rgb(20, 68, 33);
    font-size: larger;
    padding: 10px 2px 10px 2px;
    margin: 15px 0 15px 0;
}
.about span{
    font-weight: 700;
}