nav{
    width: 100%;
    /* background: rgb(43, 79, 52); */
    color: rgb(233, 238, 225);
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
}
.darkNav{
    background: rgb(20, 68, 33);
    transition: 0.6s;
}